.wrapper {
  background-color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 1260px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
  
}

body {
  background-color: white;
}
.navbar {
  text-align: center;
}

a {
  color: black;
}
.logo {
  margin-right: 20%;
  padding: 10px 40px;
  width: 10%;
  height: 10%;
}
.yoga {
}
#maindiv {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  padding: 20px 16px;
}
/*****/

#button {
  padding: 20px;
  background-color: red;
  color: white;
  border-color: red;
  border-radius: 10%;
}
#buttons {
  padding: 20px 40px;
  background-color: white;
  color: red;
  border-color: red;
  border-radius: 10%;
  /* margin: 0 auto;*/
} 

#input {
  color: dodgerblue;
}

h1 {
  margin: 0 auto;
  padding: 80px 70px;
}

/*************/

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.row {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(10, 1fr);
}

.container1 {
  background-color: pink;
  padding: 2px 30px;
  border: solid 1px;
  width: 50%;
  border-width: 4px 4px;
  border-radius: 30%;
  /* float: left;
  width: 300px;
  height: 300px;
  margin: 20px; */
}

.container2 {
  background-color: bisque;
  padding: 2px 30px;
  border: solid 1px;
  width: 50%;
  border-width: 4px 4px;
  border-radius: 30%;
  /* float: left;
  width: 300px;
  height: 300px;
  margin: 20px; */
}

.container3 {
  background-color: rgb(0, 153, 255);
  padding: 10px 30px;
  border: solid 1px;
  width: 50%;
  border-width: 4px 4px;
  border-radius: 30%;
  height: auto;
  /* float: left;
  width: 300px;
  height: 300px;
  margin: 20px; */
}

.container4 {
  background-color: pink;
  padding: 2px 30px;
  border: solid 1px;
  width: 50%;
  border-width: 4px 4px;
  border-radius: 30%;
  /* float: left;
  width: 300px;
  height: 300px;
  margin: 20px; */
}

.container5 {
  background-color: rgb(0, 204, 255);
  padding: 2px 30px;
  border: solid 1px;
  width: 50%;
  border-width: 4px 4px;
  border-radius: 30%;
  /* float: left;
  width: 300px;
  height: 300px; */
  /* margin: 20px; */
}

.wheel {
  width:100%;
  float: left;
}

.color {
  background-color: #f5d997;
}
